@model ECommerce.VM.ModelsVM.CategoryVM
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Category Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
        {
            <div class="d-flex align-items-center justify-content-center" style="flex-direction:column!important;">
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.ID)
                    @Html.TextBoxFor(z => z.ID, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(z => z.ID)
                </div><div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.Name)
                    @Html.TextBoxFor(z => z.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.Name)
                </div>
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.Description)
                    @Html.TextAreaFor(z => z.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.Description)
                </div>
                <div>
                </div>

            <a href="/Admin/Category/Delete/@Model.ID" class="btn btn-danger">Delete</a>
            </div>

        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>

</div>