@model ECommerce.VM.ModelsVM.ProductVM
@{string formName = ViewBag.FormType; }
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("PostProduct", "Product", new AjaxOptions
        {
            OnComplete = "OnComplete",
            OnSuccess = "OnSuccess"
        }))
        {
            <div class="align-items-center justify-content-center">
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.Name, new { })
                    @Html.TextBoxFor(z => z.Name, new { @class = "form-control", @placeholder = "Product Name", })
                    @Html.ValidationMessageFor(z => z.Name)
                </div>
                <div style="color:red;margin:10px; padding:10px;">
                    @Html.LabelFor(z => z.ShortDescription, new { })
                    @Html.TextAreaFor(z => z.ShortDescription, new { @class = "form-control", @placeholder = "Product Description" })
                    @Html.ValidationMessageFor(z => z.Description)
                </div>
                <div style="color:red;margin:10px; padding:10px;">
                    @Html.LabelFor(z => z.SupplierID, new { })
                    @Html.DropDownListFor(z => z.SupplierID, new SelectList(Model.SupplierVMs, "ID", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.SupplierID)
                </div>
                <div style="color:red;margin:10px; padding:10px;">
                    @Html.LabelFor(z => z.BrandID, new { })
                    @Html.DropDownListFor(z => z.BrandID, new SelectList(Model.BrandVMs, "ID", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.BrandID)
                </div>
                <div style="color:red;margin:10px; padding:10px;">
                    @Html.LabelFor(z => z.CategoryID)
                    @Html.DropDownListFor(z => z.CategoryID, new SelectList(Model.CategoryVMs, "ID", "Name"), new { @class = "form-control"})
                    @Html.ValidationMessageFor(z => z.CategoryID)
                </div>
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.ArriveDate)
                    @Html.EditorFor(z => z.ArriveDate,additionalViewData: new { htmlAttributes = new { @class = "form-control",@id = "datepicker", @readonly = "true" } })
                    @Html.ValidationMessageFor(z => z.ArriveDate)
                </div>               
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.Description)
                    @Html.TextAreaFor(z => z.Description, new { @class = "form-control", @placeholder = "Product Description" })
                    @Html.ValidationMessageFor(z => z.Description)
                </div>
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.Pricre)
                    @Html.TextAreaFor(z => z.Pricre, new { @class = "form-control", @placeholder = "Product Description" })
                    @Html.ValidationMessageFor(z => z.Pricre)
                </div>
                <div style="color:red;margin:10px;">
                    @Html.LabelFor(z => z.IsActive)
                    @Html.CheckBoxFor(z => z.IsActive, new { @class = "form-control", @placeholder = "Product Description" })
                    @Html.ValidationMessageFor(z => z.IsActive)
                </div>

            </div>

            if (formName == "Add")
            {
                <button type="submit" class="btn btn-success">Save</button>
            }
            if (formName == "Edit")
            {
                @Html.HiddenFor(z => z.ID)
                <button type="submit" class="btn btn-success">Update</button>
            }
        }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
@section scripts{

}